// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.app-container{
    height:100vh; 
    text-align:center;
  }
  
.app-component-container{
  box-shadow: 10px 5px 5px red; 
  border: 1px solid black; 
  padding: 10px;
}

#import-component-container{
  padding:5px;
}
#contact-table{
  margin-top:10px;
}